<div class="container">
  <div class="row" style="margin-top: 100px">
    <div class="col-md-12">
      <h2 class="text-danger text-center">
        Datepicker Jquery UI Examples
      </h2>
    </div>
    <div class="col-md-12" style="margin:10px auto; width: 20%;text-align: center;">
     
    </div>
   
  </div>
  <div class="row">
    <div class="col-md-4">
      <datepicker [currenFilter]="'daily'"></datepicker>
    </div>
    <div class="col-md-4">
      <datepicker [currenFilter]="'mouthly'"></datepicker>
    </div>
    <div class="col-md-4">
      <datepicker [currenFilter]="'year'"></datepicker>
    </div>
  </div>
</div>
